{%p(r(block["head"], context, session))%}
<div class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
{%
if session.user:
    p(f'<h1 class="masthead-heading mb-0">Hello {session.user}!</h1>')
    p(f'<p>You are already registered.</p>')
    p('<p><a href="/profile/logout">Click here</a> to log out.</p>')
else:
    p('<h1 class="masthead-heading mb-0">Please register below</h1>')
    p('<div class="divider-custom divider-light">')
    p('<div class="divider-custom-line"></div>')
    p('<div class="divider-custom-icon"><i class="fas fa-star"></i></div>')
    p('<div class="divider-custom-line"></div>')
    p('</div>')
    p('<div class="card">')
    p('<div class="card-body text-black">')
    p(new_user_form('/profile/register', css_mixin))
    p('</div>')
    p('</div>')
%}
    </div>
</div>
{%p(r(block["foot"], context))%}