{%p(r(block["head"], context, session))%}
<div class="container">
    <h1>The is the default landing page for the {%print(context["app_name"])%} app.</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Username</th>
          <th scope="col">Auth Level</th>
          <th scope="col">Is Verified</th>
        </tr>
      </thead>
        <tbody>
{%for user in context["users"]:
        p('<tr>')
        p(f'<th scope="row"><a href="/admin/user/?id={user[0]}">{user[0]}</a></th>')
        p(f'<td>{user[1]}</td>')
        p(f'<td>{user[2]}</td>')
        p(f'<td>{user[3]}</td>')
        p(f'<td>{user[4]}</td>')
        p(f'<td>{user[5]}</td>')
        p(f'<td>{user[6]}</td>')
        p(f'<td>{user[7]}</td>')
        p('</tr>')
%}
        </tbody>
    </table>
</div>

{%p(r(block["foot"], context))%}
