{%p(r(block["head"], context, session))%}
<div class="container">
    <h1>The is the default landing page for the {%print(context["app_name"])%} app.</h1>
{%
for key, item in context['admin_objects'].items():
    p(f'<a class="btn btn-primary" type="button" data-bs-toggle="collapse" href="#{key}TableCollapse">{unslug(key)}s</a>')
    p(f'<div class="collapse" id="{key}TableCollapse">')
    print('<table class="table">')
    print('<thead>')
    for index, d in enumerate(item):
        print('<tr>')
        for k, v in d.items():
            if index == 0:
                print(f'<th scope="col">{unslug(k)}</th>')
        print('</tr>')
        print('</thead>')
        print('<tbody>')
        print('<tr>')
        for k, v in d.items():
            if '_id' in k:
                print(f'<th scope="row"><a href="/{slug_to_path(key)}?id={v}">{v}</a></th>')
            else:
                print(f'<td>{v}</td>')
        print('</tr>')
    print('</tbody>')
    print('</table>')
    p('</div>')
%}
</div>

{%p(r(block["foot"], context))%}
